.mainContainer {
    flex-flow: row;
    justify-content: center;
}

#aboutMe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

#aboutMe h1 {
    font-size: 3em;
    text-align: center;
    font-family: 'Heebo', sans-serif;
    font-weight: bold;
}

#aboutMe p {
    font-size: 1.25em;
    text-indent: 2em;
    padding-left: 5rem;
    padding-right: 5rem;
    font-family: 'Heebo', sans-serif;
    font-weight: lighter;
}

#closingAbout {
    text-align: right;
}

#closingSignature {
    font-style: italic;
    font-weight: 550;
    font-size: 1.5em;
}

#brandingImage {
    margin-top: 3rem;
    min-height: 20rem;
    background-image: url(/img/Branding_300x300.png)
}

@media screen and (max-width: 1240px) {
    #aboutMe p {
        padding-left: 2rem;
        padding-right: 2rem;
        font-size: 1.1em;
    }

    #aboutMe h1 {
        font-size: 2.5em;
    }
}

@media screen and (max-width: 768px) {

    .mainContainer {
        flex-flow: column-reverse;
    }

    #brandingImage {
        margin-top: 1rem;
        min-height: 20rem;
    }

    #aboutMe p {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    #aboutMe h1 {
        font-size: 3em;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}


@media screen and (max-height: 620px) {
    #brandingImage {
        background-image: url(/img/Branding_200x200.png)
    }
}