.mainContainer {
    flex-flow: column;
    padding-left: 10rem;
    padding-right: 10rem;
    align-items: center;
}

#aboutMe {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

#aboutMe h1 {
    font-size: 3em;
    text-align: center;
    font-family: 'Heebo', sans-serif;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

#aboutMe p {
    font-size: 1.25em;
    text-indent: 2em;
    padding-left: 0rem;
    padding-right: 0rem;
    font-family: 'Heebo', sans-serif;
    font-weight: lighter;
    line-height: 1.5;
}


#selfImage {
    min-width: 500px;
    min-height: 450px;
    background-image: url(../img/Self_500x450.png);
    background-repeat: no-repeat;
    background-position: center;
}

@media screen and (max-width: 1240px) {

    .mainContainer {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    #aboutMe {
        padding-left: 3rem;
        padding-right: 3rem;
    }

    #aboutMe p {
        padding-left: 2rem;
        padding-right: 2rem;
        font-size: 1.1em;
    }

    #aboutMe h1 {
        font-size: 2.5em;
    }

    #selfImage {
        min-width: 300px;
        min-height: 300px;
        background-image: url(../img/Self_300x270.png);
    }
}

@media screen and (max-width: 768px) {

    .mainContainer {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    #aboutMe {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    #brandingImage {
        margin-top: 1rem;
        min-height: 20rem;
    }

    #aboutMe p {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    #aboutMe h1 {
        font-size: 3em;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    #selfImage {
        min-width: 200px;
        min-height: 200px;
        background-image: url(../img/Self_200x180.png);
    }
}