#welcomeMessage {
    align-self: center;
    flex: 1;
    font-size: 1.3em;
    cursor: default;
    user-select: none;
    font-weight: 600;
    color: #F86C59;

}

.mainContainer {
    display: column;
    align-items: center;

}

#intro {
    flex: 1;
    font-size: 6em;
    vertical-align: middle;
    padding-left: 10rem;
    padding-top: 20rem;
    font-weight: 100;
}

.welcomeShow {
    opacity: 1;
    transition: opacity 2s;
}

.welcomeHide {
    opacity: 0;
    transition: opacity 2s;
}

@media screen and (max-width: 1240px) {
    #intro {
        flex: 1;
        font-size: 5em;
        vertical-align: middle;
        padding-left: 5rem;
        padding-top: 20rem;
        font-weight: 100;
    }

    #brandingImage {
        flex: 1;
        background-image: url(/img/Branding_300x300.png);
        background-repeat: no-repeat;
        background-position: center;
    }

    #welcomeMessage {
        font-size: 1em;

    }
}

@media screen and (max-width: 768px) {

    #intro {
        flex: 1;
        font-size: 2.5em;
        vertical-align: middle;
        padding-left: 1rem;
        padding-top: 20rem;
        font-weight: 100;
    }

    #brandingImage {
        flex: 2;
        background-image: url(/img/Branding_200x200.png);
        background-repeat: no-repeat;
        background-position: center;
    }

}