/*Catch all elements*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  margin-top: 70px;
  background-color: #f0f0f0;
}

/*navBar Settings*/
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 70px;
  background-color: #942525;
  font-family: "Roboto", sans-serif;
  position: fixed;
  width: 100%;
  top: 0;
}

.navHeading {
  color: #f0f0f0;
  letter-spacing: 2px;
  font-size: 36px;
  cursor: default;
  user-select: none;
}

.navLinks {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.navLinks li {
  list-style: none;
  margin-right: 25px;
}

.navLinks a {
  color: #f0f0f0;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 16px;
  display: inline-block;
}

.navLinks a::after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background: #f0f0f0;
  transition: width 0.3s;
}

.navLinks a:hover::after {
  width: 100%;
}


/*Footer Settings*/
footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 70px;
  background-color: #942525;
  font-family: "Roboto", sans-serif;
  width: 100%;
  top: 0;
}

.footerHeading {
  color: #f0f0f0;
  letter-spacing: 2px;
  font-size: 24px;
  cursor: default;
  user-select: none;
}

.footerLinks {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.footerLinks li {
  list-style: none;
  margin-right: 25px;
}

.footerLinks a {
  color: #f0f0f0;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 16px;
  display: inline-block;
}

.footerLinks a::after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background: #f0f0f0;
  transition: width 0.3s;
}

.footerLinks a:hover::after {
  width: 100%;
}

/*Main Settings*/
.mainContainer {
  display: flex;
  flex-flow: column;
  width: 100%;
}

.mainItem {
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-top: 70px;
  min-height: 50vh;
}

#mainHome {
  background-image: url("/img/Self_A1.png");
  background-position-y: center;
  background-position-x: center;
  background-repeat: no-repeat;
  height: 92.5vh;
}

#mainHomeLeftArr {
  font-size: 100px;
  float: left;
  position: relative;
  top: 45%;
  opacity: 0.5;
  user-select: none;
}

.mainHomeLeftArr_OFF {
  visibility: hidden;
}

#mainHomeLeftArr:hover {
  opacity: 1;
  cursor: pointer;
}

#mainHomeRightArr {
  font-size: 100px;
  float: right;
  position: relative;
  top: 45%;
  opacity: 0.5;
  cursor: pointer;
  user-select: none;
}

.mainHomeRightArr_OFF {
  visibility: hidden;
}

#mainHomeRightArr:hover {
  opacity: 1;
}

#mainAbout {
  display: flex;
  flex-flow: column;
  justify-content: center;
  background-color: #FFB4B4;
}

.mainItem h4 {
  align-self: left;
  padding-left: 50px;
  font-size: 100px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  flex: 1;
}

.mainItemP {
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-indent: 50px;
  padding-left: 100px;
  padding-right: 50px;
  flex: 10;
}

#mainExperience {
  display: flex;
  flex-flow: column;
  justify-content: center;
  background-color: #FFAAAA;
}

#mainProjects {
  display: flex;
  flex-flow: column;
  justify-content: center;
  background-color: #FF9A9A;
}

/*mainTab Settings */
.mainTabContainer {
  min-height: 200px;
  padding-left: 100px;
}

.mainTabs {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 80%;
}

.mainTabs button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.mainTabs button:hover {
  background-color: #ddd;
}

.mainTabs button.active {
  background-color: #DFDFDF;
}

/*tabContent Settings*/
.tabContent {
  width: 80%;
  display: none;
  padding: 6px 12px;
  border: 1px solid #DFDFDF;
  border-top: none;
  background-color: #DFDFDF;

  animation: fadeEffect 1s;
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/*Special Screen Settings*/
.navMobile {
  display: none;
}

.navMobile div {
  width: 25px;
  height: 2px;
  margin: 5px;
  background-color: #f0f0f0;
}

@media screen and (max-width: 1024px) {
  .navLinks {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .navLinks {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #942525;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .navMobile {
    display: block;
    cursor: pointer;
  }

  .mainItem h4 {
    align-self: left;
    padding-left: 50px;
    font-size: 60px;
    padding-top: 70px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    flex: 1;
  }

  .mainItem p {
    font-size: 16px;
    padding-left: 100px;
    padding-right: 50px;
    flex: 10;
  }

  .footerHeading {
    padding-left: 20px;
    text-align: center;
  }

  .footerLinks {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 70%;
  }

  .footerLinks li {
    list-style: none;
    margin-right: 25px;
  }

  .mainItem h4 {
    align-self: left;
    padding-left: 20px;
    font-size: 60px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    flex: 1;
  }

  .mainItemP {
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-indent: 50px;
    padding-left: 5px;
    padding-right: 5px;
    flex: 10;
  }

  .mainItem {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    min-height: 50vh;
  }
}

/*End of Mobile Settings*/

.navMobileActive {
  transform: translateX(0%);
}

.navLine1Close {
  transition: transform 0.5s ease-in;
  transform: rotate(45deg) translate(5px, 5px);
}

.navLine2Close {
  opacity: 0;
}

.navLine3Close {
  transition: transform 0.5s ease-out;
  transform: rotate(-45deg) translate(5px, -5px);
}